/* Fade-In CSS */
.fade-in{
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Contact Form CSS */
form{
    max-width: 550px;
    width: 90%;
    background: black;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  label{
    display: block;
    margin: 20px 0;
    color: white;
  }
  input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    color: black;
    border-bottom: 1px solid #D3D3D3;
  }
  input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid rgb(255, 0, 106);
  }
  textarea::-webkit-scrollbar{
    width: 4px;
  }
  textarea::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 106);
  }
  .center {
    text-align: center;
  }
   input[type="submit"]{
     margin-top: 30px;
     width: 90%;
     max-width: 200px;
      background: linear-gradient(to right, rgb(255, 0, 106), rgb(255, 67, 61));
      color: white;
      font-size: 17px;
      cursor: pointer;
      border-radius: 3px;
   }
  .error{
    color: red;
  }
  .error-border{
    border-bottom: 1px solid red;
  }
  #success{
    color: #28A745;
  }

  /* Nav CSS */
.navBar{
    background-color: black;
    color: white;
  }
  
  .navBar ul li{
    /* the elements will float on the left, so they will appear in the horizontal line */
    float: left;
    /* when we float anything, it gets overflown from the parent. */
    /* to remove the bullet points from the list */
    list-style: none;
    
    margin: 13px 20px;
  }
  .navBar ul{
    /* to bring back the background-color and other things which went missing */
    overflow: auto;
  }
  .navBar ul li a{
    /* to remove the underline from the anchor tags */
    text-decoration: none;
    color: white;
    padding: 4px;
  }
    
  .navBar input{
    border: 2px solid red;
    border-radius: 10px;
    width: 142px;
    padding: 3px 16px;
  }

    /* Header */
    header{
        cursor: default;
      }
    
    header > p {
        font-style: italic;
    }
    
    header > h1 + p {
        font-size: 1.1rem;
        margin-top: -0.5rem;
        line-height: 2;
    }
    
    header > h2 + p {
        font-size: 1rem;
        margin-top: -0.75rem;
    }
    
    header > h3 + p {
        font-size: 0.9rem;
        margin-top: -0.75rem;
    }
    
    header > h4 + p {
        font-size: 0.8rem;
        margin-top: -0.75rem;
    }
    
    header.massive {
        margin: 0 0 4rem 0;
        text-align: center;
    }
    
        header.massive > :last-child {
            margin-bottom: 0;
        }
    
        header.massive > p {
            margin-top: 0;
            text-align: center;
        }
    
    @media screen and (max-width: 980px) {
    
        header br {
            display: none;
        }
    
    }
    

    @media screen and (max-width: 736px) {

        header.massive {
            margin: 0 0 2rem 0;
        }
    
    }
    
    html{
        box-sizing: border-box;
        font-size: 16pt;
        color: red;
    }
    
    body{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        -ms-overflow-style: scrollbar;
        background-color: #B76E79;
        font-weight: 300;
        font-size: 1rem;
        line-height: 2.375;
    }
    
    article, footer, section{
        display: block;
    }
    
    ol, ul {
        list-style: none;
    }
    
    
    
    a:hover {
        cursor: pointer;
        color: blue;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
    }
    
    h1 {
        font-size: 4rem;
        line-height: 1.1;
        margin: 0 0 2rem 0;
        text-align: center;
    }
    
    h2 {
        font-size: 1.75rem;
        line-height: 1.3;
        margin: 0 0 1.5rem 0;
    }
    
    h3 {
        font-size: 1.25rem;
        margin: 0 0 1.5rem 0;
        text-align: center;
    }
    
    h4 {
        font-size: 1rem;
        text-align: center;
    }
    
    h5 {
        font-size: 0.9rem;
    }
    
    h6 {
        font-size: 0.8rem;
    }

/* Footer CSS */
#footer {
    color: #717981;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: #f5f5f5;
    color: #909498;
    cursor: default;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

    #footer input, #footer select, #footer textarea {
        color: #717981;
    }

    #footer a {
        color: #717981;
        border-bottom-color: rgba(113, 121, 129, 0.5);
    }

        #footer a:hover {
            border-bottom-color: transparent;
            color: #18bfef !important;
        }

    #footer strong, #footer b {
        color: #717981;
    }

    #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
        color: #717981;
    }

    #footer blockquote {
        border-left-color: #e2e2e2;
    }

    #footer code {
        background: rgba(220, 220, 220, 0.5);
        border-color: #e2e2e2;
    }

    #footer hr {
        border-bottom-color: #e2e2e2;
    }

    #footer .box {
        border-color: #e2e2e2;
    }

    #footer input[type="submit"],
    #footer input[type="reset"],
    #footer input[type="button"],
    #footer button,
    #footer .button {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #717981;
        color: #717981 !important;
    }

        #footer input[type="submit"]:hover,
        #footer input[type="reset"]:hover,
        #footer input[type="button"]:hover,
        #footer button:hover,
        #footer .button:hover {
            box-shadow: inset 0 0 0 2px #18bfef;
            color: #18bfef !important;
        }

        #footer input[type="submit"].primary,
        #footer input[type="reset"].primary,
        #footer input[type="button"].primary,
        #footer button.primary,
        #footer .button.primary {
            background-color: #717981;
            box-shadow: none;
            color: #f5f5f5 !important;
        }

            #footer input[type="submit"].primary:hover,
            #footer input[type="reset"].primary:hover,
            #footer input[type="button"].primary:hover,
            #footer button.primary:hover,
            #footer .button.primary:hover {
                background-color: #18bfef;
            }

    #footer label {
        color: #717981;
    }

    #footer input[type="text"],
    #footer input[type="password"],
    #footer input[type="email"],
    #footer select,
    #footer textarea {
        border-color: #e2e2e2;
    }

        #footer input[type="text"]:focus,
        #footer input[type="password"]:focus,
        #footer input[type="email"]:focus,
        #footer select:focus,
        #footer textarea:focus {
            border-color: #18bfef;
        }

    #footer select {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23e2e2e2' /%3E%3C/svg%3E");
    }

        #footer select option {
            background-color: #f5f5f5;
            color: #717981;
        }

    #footer .select-wrapper:before {
        color: #e2e2e2;
    }

    #footer input[type="checkbox"] + label,
    #footer input[type="radio"] + label {
        color: #717981;
    }

        #footer input[type="checkbox"] + label:before,
        #footer input[type="radio"] + label:before {
            border-color: #e2e2e2;
        }

    #footer input[type="checkbox"]:checked + label:before,
    #footer input[type="radio"]:checked + label:before {
        background-color: #717981;
        border-color: #717981;
        color: #f5f5f5;
    }

    #footer input[type="checkbox"]:focus + label:before,
    #footer input[type="radio"]:focus + label:before {
        border-color: #18bfef;
    }

    #footer ::-webkit-input-placeholder {
        color: #b3b7bb !important;
    }

    #footer :-moz-placeholder {
        color: #b3b7bb !important;
    }

    #footer ::-moz-placeholder {
        color: #b3b7bb !important;
    }

    #footer :-ms-input-placeholder {
        color: #b3b7bb !important;
    }

    #footer .formerize-placeholder {
        color: #b3b7bb !important;
    }

    #footer ul.divided li {
        border-top-color: #e2e2e2;
    }

    #footer ul.icons li a.icon:hover:before {
        color: #18bfef;
    }

    #footer ul.icons.alt li .icon:before {
        box-shadow: inset 0 0 0 2px #e2e2e2;
    }

    #footer ul.icons.alt li a.icon:hover:before {
        box-shadow: inset 0 0 0 2px #18bfef;
    }

    #footer header.major .date:before, #footer header.major .date:after {
        border-top-color: #e2e2e2;
    }

    #footer table tbody tr {
        border-color: #e2e2e2;
    }

        #footer table tbody tr:nth-child(2n + 1) {
            background-color: rgba(220, 220, 220, 0.5);
        }

    #footer table th {
        color: #717981;
    }

    #footer table thead {
        border-bottom-color: #e2e2e2;
    }

    #footer table tfoot {
        border-top-color: #e2e2e2;
    }

    #footer table.alt tbody tr td {
        border-color: #e2e2e2;
    }

    #footer .pagination a, #footer .pagination span {
        border-color: #e2e2e2;
    }

    #footer .pagination a {
        color: #717981 !important;
    }

        #footer .pagination a:hover {
            color: #18bfef !important;
            border-color: #18bfef;
            z-index: 1;
        }

            #footer .pagination a:hover + a,
            #footer .pagination a:hover + span {
                border-left-color: #18bfef;
            }

        #footer .pagination a.active {
            background-color: #e2e2e2;
        }

    #footer .pagination span {
        color: #e2e2e2;
    }

    #footer > section {
        -moz-flex-basis: 50%;
        -webkit-flex-basis: 50%;
        -ms-flex-basis: 50%;
        flex-basis: 50%;
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        padding: 4rem 4rem 2rem 4rem ;
        border-left: solid 2px #e2e2e2;
    }

        #footer > section:first-child {
            border-left: 0;
        }

        #footer > section.split {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;
        }

            #footer > section.split > section {
                padding: 3rem 4rem 1rem 4rem ;
                border-top: solid 2px #e2e2e2;
            }

                #footer > section.split > section:first-child {
                    padding: 5rem 4rem 1rem 4rem ;
                    border-top: 0;
                }

                #footer > section.split > section:last-child {
                    padding: 3rem 4rem 3rem 4rem ;
                }

            #footer > section.split.contact > section {
                display: -moz-flex;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                -moz-align-items: center;
                -webkit-align-items: center;
                -ms-align-items: center;
                align-items: center;
                padding: 3.15rem 4rem;
            }

                #footer > section.split.contact > section > * {
                    margin-bottom: 0;
                }

                #footer > section.split.contact > section > :first-child {
                    -moz-flex-shrink: 0;
                    -webkit-flex-shrink: 0;
                    -ms-flex-shrink: 0;
                    flex-shrink: 0;
                    -moz-flex-grow: 0;
                    -webkit-flex-grow: 0;
                    -ms-flex-grow: 0;
                    flex-grow: 0;
                    width: 6rem;
                }

                #footer > section.split.contact > section > :last-child {
                    -moz-flex-shrink: 1;
                    -webkit-flex-shrink: 1;
                    -ms-flex-shrink: 1;
                    flex-shrink: 1;
                    -moz-flex-grow: 1;
                    -webkit-flex-grow: 1;
                    -ms-flex-grow: 1;
                    flex-grow: 1;
                }

                #footer > section.split.contact > section:first-child {
                    padding: 4rem 4rem 3rem 4rem;
                }

                #footer > section.split.contact > section:last-child {
                    padding: 3rem 4rem 4rem 4rem;
                }

                #footer > section.split.contact > section.alt {
                    -moz-align-items: -moz-flex-start;
                    -webkit-align-items: -webkit-flex-start;
                    -ms-align-items: -ms-flex-start;
                    align-items: flex-start;
                }

                    #footer > section.split.contact > section.alt > :last-child {
                        margin-top: -0.325rem;
                    }

    #footer form label,
    #footer h3,
    #footer p {
        font-size: 0.8rem;
    }

    @media screen and (max-width: 980px) {

        #footer {
            display: block;
        }

            #footer > section {
                border-top: solid 2px #e2e2e2;
            }

                #footer > section:first-child {
                    border-top: 0;
                }

                #footer > section.split > section {
                    padding: 4rem 4rem 2rem 4rem ;
                }

                    #footer > section.split > section:first-child {
                        padding: 4rem 4rem 2rem 4rem ;
                    }

                    #footer > section.split > section:last-child {
                        padding: 4rem 4rem 2rem 4rem ;
                    }

                #footer > section.split.contact > section {
                    padding: 4rem;
                }

                    #footer > section.split.contact > section:first-child {
                        padding: 4rem;
                    }

                    #footer > section.split.contact > section:last-child {
                        padding: 4rem;
                    }

            #footer form label,
            #footer h3,
            #footer p {
                font-size: 0.9rem;
            }

    }

    @media screen and (max-width: 736px) {

        #footer > section {
            padding: 2rem 2rem 0.1rem 2rem ;
        }

            #footer > section.split > section {
                padding: 2rem 2rem 0.1rem 2rem ;
            }

                #footer > section.split > section:first-child {
                    padding: 2rem 2rem 0.1rem 2rem ;
                }

                #footer > section.split > section:last-child {
                    padding: 2rem 2rem 0.1rem 2rem ;
                }

            #footer > section.split.contact > section {
                padding: 2rem;
            }

                #footer > section.split.contact > section:first-child {
                    padding: 2rem;
                }

                #footer > section.split.contact > section:last-child {
                    padding: 2rem;
                }

    }

    @media screen and (max-width: 480px) {

        #footer {
            width: 100%;
        }

    }

/* Copyright CSS */
#copyright {
    color: #ffffff;
    position: relative;
    color: rgba(255, 255, 255, 0.25);
    cursor: default;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    margin: 4rem auto 8rem auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

    #copyright input, #copyright select, #copyright textarea {
        color: #ffffff;
    }

    #copyright a {
        color: #ffffff;
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }

        #copyright a:hover {
            border-bottom-color: transparent;
            color: #18bfef !important;
        }

    #copyright strong, #copyright b {
        color: #ffffff;
    }

    #copyright h1, #copyright h2, #copyright h3, #copyright h4, #copyright h5, #copyright h6 {
        color: #ffffff;
    }

    #copyright blockquote {
        border-left-color: #ffffff;
    }

    #copyright code {
        background: rgba(255, 255, 255, 0.075);
        border-color: #ffffff;
    }

    #copyright hr {
        border-bottom-color: #ffffff;
    }

    #copyright a {
        color: inherit;
        border-bottom-color: inherit;
    }

    #copyright ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

        #copyright ul li {
            border-left: solid 2px;
            display: inline-block;
            line-height: 1;
            margin-left: 1rem;
            padding-left: 1rem;
        }

            #copyright ul li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

    @media screen and (max-width: 1280px) {

        #copyright {
            margin: 4rem auto;
        }

    }

    @media screen and (max-width: 480px) {

        #copyright ul li {
            border-left: 0;
            margin: 1rem 0 0 0;
            padding-left: 0;
            display: block;
        }

            #copyright ul li:first-child {
                margin-top: 0;
            }

    }
