/* Fade-In CSS */
.fade-in{
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html{
    box-sizing: border-box;
    font-size: 16pt;
    color: red;
}

body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    -ms-overflow-style: scrollbar;
    background-color: #B76E79;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.375;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.3;
    margin: 0 0 1.5rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.8rem;
}

.container{
    padding: 2rem;
    padding-bottom: 400px;
    margin: 0 auto;
    max-width: 800px;
}

.top-section{
    text-align: center;
    padding: 4rem 0;
    max-width: 600px;
    margin: 0 auto;
}

.timeline{
    position: relative;
    min-height: 150px;
}

.line{
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    background-color: #fff;
    display: none;
}

.line:before,
.line::after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.line:after{
    bottom: 0;
}

.section{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    align-items: center;
    min-height: 300px;
}

.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.content{
    width: calc(50% - 2rem);
}

.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}
h1{
    font-weight: 400;
    letter-spacing: 1px;
}

/* Navbar CSS */
.navBar{
    background-color: black;
    color: white;
  }
  
  .navBar ul li{
    /* the elements will float on the left, so they will appear in the horizontal line */
    float: left;
    /* when we float anything, it gets overflown from the parent. */
    /* to remove the bullet points from the list */
    list-style: none;
    
    margin: 13px 20px;
  }
  .navBar ul{
    /* to bring back the background-color and other things which went missing */
    overflow: auto;
  }
  .navBar ul li a{
    /* to remove the underline from the anchor tags */
    text-decoration: none;
    color: white;
    padding: 4px;
  }
  
  .navBar input{
    border: 2px solid red;
    border-radius: 10px;
    width: 142px;
    padding: 3px 16px;
  }

  /* Copyright CSS */
  #copyright {
    color: #ffffff;
    position: relative;
    color: rgba(255, 255, 255, 0.25);
    cursor: default;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    margin: 4rem auto 8rem auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

    #copyright input, #copyright select, #copyright textarea {
        color: #ffffff;
    }

    #copyright a {
        color: #ffffff;
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }

        #copyright a:hover {
            border-bottom-color: transparent;
            color: #18bfef !important;
        }

    #copyright strong, #copyright b {
        color: #ffffff;
    }

    #copyright h1, #copyright h2, #copyright h3, #copyright h4, #copyright h5, #copyright h6 {
        color: #ffffff;
    }

    #copyright blockquote {
        border-left-color: #ffffff;
    }

    #copyright code {
        background: rgba(255, 255, 255, 0.075);
        border-color: #ffffff;
    }

    #copyright hr {
        border-bottom-color: #ffffff;
    }

    #copyright a {
        color: inherit;
        border-bottom-color: inherit;
    }

    #copyright ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

        #copyright ul li {
            border-left: solid 2px;
            display: inline-block;
            line-height: 1;
            margin-left: 1rem;
            padding-left: 1rem;
        }

            #copyright ul li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

    @media screen and (max-width: 1280px) {

        #copyright {
            margin: 4rem auto;
        }

    }

    @media screen and (max-width: 480px) {

        #copyright ul li {
            border-left: 0;
            margin: 1rem 0 0 0;
            padding-left: 0;
            display: block;
        }

            #copyright ul li:first-child {
                margin-top: 0;
            }

    }
