html{
    box-sizing: border-box;
    font-size: 16pt;
    color: red;
}

body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    -ms-overflow-style: scrollbar;
    background-color: #B76E79;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.375;
}

/* Fade-In CSS */
.fade-in{
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.3;
    margin: 0 0 1.5rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.8rem;
}

/* Navbar CSS */
.navBar{
    background-color: black;
    color: white;
  }
  
  .navBar ul li{
    /* the elements will float on the left, so they will appear in the horizontal line */
    float: left;
    /* when we float anything, it gets overflown from the parent. */
    /* to remove the bullet points from the list */
    list-style: none;
    
    margin: 13px 20px;
  }
  .navBar ul{
    /* to bring back the background-color and other things which went missing */
    overflow: auto;
  }
  .navBar ul li a{
    /* to remove the underline from the anchor tags */
    text-decoration: none;
    color: white;
    padding: 4px;
  }
  
  .navBar input{
    border: 2px solid red;
    border-radius: 10px;
    width: 142px;
    padding: 3px 16px;
  }

  /* Copyright CSS */
  #copyright {
    color: #ffffff;
    position: relative;
    color: rgba(255, 255, 255, 0.25);
    cursor: default;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    margin: 4rem auto 8rem auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

    #copyright input, #copyright select, #copyright textarea {
        color: #ffffff;
    }

    #copyright a {
        color: #ffffff;
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }

        #copyright a:hover {
            border-bottom-color: transparent;
            color: #18bfef !important;
        }

    #copyright strong, #copyright b {
        color: #ffffff;
    }

    #copyright h1, #copyright h2, #copyright h3, #copyright h4, #copyright h5, #copyright h6 {
        color: #ffffff;
    }

    #copyright blockquote {
        border-left-color: #ffffff;
    }

    #copyright code {
        background: rgba(255, 255, 255, 0.075);
        border-color: #ffffff;
    }

    #copyright hr {
        border-bottom-color: #ffffff;
    }

    #copyright a {
        color: inherit;
        border-bottom-color: inherit;
    }

    #copyright ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

        #copyright ul li {
            border-left: solid 2px;
            display: inline-block;
            line-height: 1;
            margin-left: 1rem;
            padding-left: 1rem;
        }

            #copyright ul li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

    @media screen and (max-width: 1280px) {

        #copyright {
            margin: 4rem auto;
        }

    }

    @media screen and (max-width: 480px) {

        #copyright ul li {
            border-left: 0;
            margin: 1rem 0 0 0;
            padding-left: 0;
            display: block;
        }

            #copyright ul li:first-child {
                margin-top: 0;
            }

    }


.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e252d;
    flex-direction: column;
}

.container .progress-container{
    margin-bottom: 25px;
}

.container .progress-container h4{
    margin: 0 0 15px 15px;
    letter-spacing: .5px;
}


.container .progress-container .progress-bar{
    position: relative;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 3px 4px 5px 0px rgba(204 185 185 / .75);
}

.container .progress-container .progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 50%, rgba(50, 222, 132, 1) 100%);
    transition: width .5s linear;
}